dataSets/
credit_card_data.txt
csv-file-checker.py
__pycache__/
pdf-sample.pdf
gir
secondTX.csv
test1.json
test-json-search.ipynb
exposed_files.txt
filesChecked.txt
/testFiles/oesm21all
/testFiles/oesm21all.zip
/testFiles/crash_person_data_IA.csv
notes.md
checkedFiles.txt